{% extends "layouts/content.html" %}

{% block content %}

	<h2 class="ui header">Create Game</h2>
	{% include "partials/messages.html" %}
	<form action="{{ request.url }}" method="POST" name="create_game" class="ui form">
		{% from "partials/login-macros.html" import render_field_with_errors, render_field %}
		{{ create_game_form.hidden_tag() }}
		{{ render_field_with_errors(create_game_form.game_name) }}
		{{ render_field_with_errors(create_game_form.game_type) }}
		{{ render_field_with_errors(create_game_form.game_description) }}
		{{ render_field(create_game_form.submit) }}
		<a href="/" class="ui button">Cancel</a>
	</form>

	<script>

		var styling = {};

		styling.submit_field = function(){
			$('input#submit')
				.attr('class', 'ui blue submit button');
		}

		$(function(){
			styling.submit_field();
		});

	</script>

	{# <form action="" method="POST" class="ui form"> #}
	{# 	<div class="field"> #}
	{# 		<label for="name">Name</label> #}
	{# 		<input id="name" name="name" type="text" value=""> #}
	{# 	</div> #}
	{# 	<div class="field"> #}
	{# 		<label for="type">Game Type</label> #}
	{# 		<select id="type" name="type" type="select" class="ui select"> #}
	{# 			<option value="classic">Classic</option> #}
	{# 		</select> #}
	{# 	</div> #}
	{# 	<div class="field"> #}
	{# 		<input id="hidden_field" name="hidden_field" type="hidden" value=""> #}
	{# 		<input id="submit" name="submit" type="submit" value="Create Game" class="ui blue submit button"> #}
	{# 	</div> #}
	{# </form> #}

{% endblock %}
