{% extends "layouts/content.html" %}

{% block head -%}

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tagit.css') }}"/>
  <script src="{{ url_for('static', filename='javascript/jquery.tagit.js') }}"></script>

{%- endblock %}

{% block content %}

	<h2 class="ui header">Create Game</h2>
	{% include "partials/messages.html" %}
	<form action="{{ request.url }}" method="POST" name="create_game" class="ui form">
		{% from "partials/login-macros.html" import render_field_with_errors, render_field %}
		{{ create_game_form.hidden_tag() }}
		{{ render_field_with_errors(create_game_form.game_name) }}
		{{ render_field_with_errors(create_game_form.game_type) }}
		{{ render_field_with_errors(create_game_form.game_description) }}
		{{ render_field(create_game_form.submit) }}
		<a href="/" class="ui button">Cancel</a>
	</form>

	<script>

		var styling = {};

		styling.submit_field = function(){
			$('input#submit')
				.attr('class', 'ui blue submit button');
		}

		$(function(){
			styling.submit_field();
		});

	</script>

{% endblock %}
